body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
            background-color:cornsilk;
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-container {
    flex: 2;
    padding: 20px;
}

.text-container section {
    margin-bottom: 20px;
}

.text-container h2 {
    color:dimgrey;
    margin-bottom: 10px;
}

.row {
    color:black;
    line-height: 1.6;
}